body{
   background-color: rgb(175, 198, 209)

}

.cuadro {
    border: 5px solid rgb(29, 25, 241);
    padding: 10px;
    background-color: rgb(202, 188, 188);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}